@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-main: #00754a;
  --color-second: #f0ebdc;
}

* {
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
}
body {
  background-color: #fff;
}
